.p-forms.Flex10 {
display: flex;
align-items: stretch;
justify-content: space-between;
border-color: #ff0505;
border-width: 2px;
background-color: #000000;
color: #ffffff;
border-style: solid;
height: 50px;
align-self: auto;
margin-left: ;
}
.p-forms.Flex9 {
display: flex;
}
.p-forms.Flex12 {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
row-gap: ;
align-self: center;
}
.p-forms.TextBox8 {
font-size: 16px;
align-self: center;
margin-left: 20px;
}
.p-forms.Link14 {
align-self: center;
padding-left: 15px;
padding-right: 15px;
}
.p-forms.Link15 {
align-self: center;
padding-left: 15px;
padding-top: ;
padding-right: 15px;
color: #ffffff;
}
.p-forms.Link16 {
align-self: center;
padding-left: 15px;
padding-right: 15px;
}
.p-forms.Link17 {
align-self: center;
padding-left: 15px;
padding-right: 15px;
}
.p-forms.Form1 {
display: inline-flex;
flex-direction: column;
row-gap: 20px;
padding: 10px;
align-items: flex-start;
justify-content: center;
flex-wrap: nowrap;
align-content: center;
}
